:root {
	--text-color: #7c8f8f;
	--main-color: #5ca5a5;
	--title-color: #2b3939;
	--white-color: #ffffff;
	--header-bg: #63baba;
	--body-bg: rgba(92, 165, 165, 0.1);
}

@font-face {
	font-family: 'League Spartan';
	src: url('../fonts/LeagueSpartan-Medium.woff2') format('woff2'), url('../fonts/LeagueSpartan-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'League Spartan';
	src: url('../fonts/LeagueSpartan-Bold.woff2') format('woff2'), url('../fonts/LeagueSpartan-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
	font-size: 62.2%;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: 'LeagueSpartan', sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.6;
	letter-spacing: 0.12px;
	background-color: var(--body-bg);
}

.container {
	max-width: 1140px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.site-header {
	background-image: url(../images/hader-img.jpg);
	background-size: cover;
	background-position: center center;
	min-height: 156px;
}

/* MAIN */
.main-content {
	padding-top: 7.6rem;
	padding-bottom: 12rem;
}
.job-listes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.job-listes__item {
	max-width: 1100px;
	width: 100%;
	background-color: var(--white-color);
	padding: 3.2rem 4rem;
	box-shadow: 0px 15px 20px -5px #0d718226;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
}

.job-listes__item:nth-child(1) {
	border-left: 5px solid var(--main-color);
}

.job-listes__item:nth-child(2) {
	border-left: 5px solid var(--main-color);
}

.job-listes__item:not(:last-child) {
	margin-bottom: 2.4rem;
}

.job-listes__img {
	margin-right: 2.4rem;
	width: 88px;
	height: 88px;
	object-fit: cover;
}

.job-listes__info {
	margin-right: auto;
}

.job-listes__info-top {
	display: flex;
	align-items: center;
	margin-bottom: 0.8rem;
}

.job-listes__title4 {
	font-weight: 700;
	font-size: 1.4rem;
	color: var(--main-color);
	margin-right: 1.6rem;
}

.job-listes__news {
	padding: 0.4rem 0.8rem;
	background-color: var(--main-color);
	color: var(--white-color);
	border-radius: 1.2rem;
	font-weight: 700;
	font-size: 1.1rem;
	text-align: center;
}

.job-listes__news-color {
	margin-left: 0.8rem;
	background-color: var(--title-color);
}

.job-listes__title {
	font-weight: 700;
	font-size: 1.8rem;
	color: var(--title-color);
	margin-bottom: 0.8rem;
}

.job-listes__info-bootom {
	display: flex;
	align-items: center;
}

.job-listes__info-bootom span {
	color: var(--text-color);
	display: inline-block;
	display: flex;
	align-items: center;
}

.job-listes__info-bootom span:not(:last-child):after {
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--text-color);
	margin-left: 1.6rem;
	margin-right: 1.6rem;
	content: '';
}

.job-listes__btn {
	display: flex;
	align-items: center;
}

.job-listes__btn-inner:not(:last-child) {
	margin-right: 1.6rem;
}

.job-listes__btn-inner a {
	font-weight: 700;
	font-size: 1.3rem;
	color: var(--main-color);
	padding: 0.4rem 0.8rem;
	background-color: var(--body-bg);
	border-radius: 0.8rem;
}

/* MEDIA */
@media screen and (max-width: 900px) {
	.site-header {
		min-height: 100px;
	}

	.main-content {
		padding-top: 6rem;
		padding-bottom: 8rem;
	}

	.job-listes__item {
		padding: 2.8rem 3.6rem;
	}

	.job-listes__item:not(:last-child) {
		margin-bottom: 2rem;
	}

	.job-listes__img {
		margin-right: 2rem;
		width: 80px;
		height: 80px;
	}

	.job-listes__info-top {
		margin-bottom: 0.6rem;
	}

	.job-listes__title4 {
		margin-right: 1.2rem;
	}

	.job-listes__news {
		padding: 0.4rem 0.6rem;
		border-radius: 1rem;
	}

	.job-listes__news-color {
		margin-left: 0.6rem;
	}

	.job-listes__title {
		font-size: 1.6rem;
		margin-bottom: 0.6rem;
	}

	.job-listes__info-bootom span:not(:last-child):after {
		margin-left: 1.2rem;
		margin-right: 1.2rem;
	}

	.job-listes__btn-inner:not(:last-child) {
		margin-right: 1.2rem;
	}

	.job-listes__btn-inner a {
		padding: 0.4rem 0.6rem;
	}
}

@media screen and (max-width: 800px) {
	.main-content {
		padding-top: 5rem;
		padding-bottom: 6.6rem;
	}

	.job-listes__item {
		padding: 2rem 3rem;
	}

	.job-listes__item:not(:last-child) {
		margin-bottom: 1.6rem;
	}

	.job-listes__img {
		margin-right: 1.6rem;
		width: 60px;
		height: 60px;
	}

	.job-listes__title4 {
		margin-right: 1rem;
	}

	.job-listes__info-bootom span:not(:last-child):after {
		margin-left: 0.6rem;
		margin-right: 0.6rem;
	}

	.job-listes__btn-inner:not(:last-child) {
		margin-right: 0.6rem;
	}
}

@media screen and (max-width: 720px) {
	.job-listes__item {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		position: relative;
		padding-top: 4.8rem;
	}

	.job-listes__item:not(:last-child) {
		margin-bottom: 5rem;
	}

	.job-listes__img {
		position: absolute;
		top: -2.4rem;
	}

	.job-listes__info-bootom {
		margin-bottom: 1rem;
	}

	.job-listes__btn {
		padding: 0;
		margin: 0;
		flex-wrap: wrap;
	}

	.job-listes__btn-inner {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 420px) {
	.job-listes__img {
		width: 4.8rem;
		height: 4.8rem;
	}
}
