:root {
	--text-color: #7c8f8f;
	--main-color: #5ca5a5;
	--title-color: #2b3939;
	--white-color: #ffffff;
	--header-bg: #63baba;
	--body-bg: rgba(92, 165, 165, 0.5);
}

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
	font-size: 62.2%;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: 'Spartan', sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.6;
	letter-spacing: 0.12px;
	background-color: var(--body-bg);
}

.container {
	max-width: 1140px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	color: var(--text-color);
}

.site-header {
	background-image: url(../images/hader-img.jpg);
	/* background-repeat: no-repeat; */
	background-size: cover;
	background-position: center center;
	min-height: 156px;
}
